*, body {
    background-color: rgb(225, 226, 230);
    color: rgb(42, 139, 224);
}

.title {
    border-radius: 20;
    padding-left: 25px;
    padding-top: 30px;
    font-family: 'Times New Roman', Times, serif;

}

.recipesList {
    font-size: 16px;
    padding: 20px;
    font-family: 'Courier New', Courier, monospace;

}

.recipesList li {
    padding-top: 10px;
    text-decoration: none;
}

a {
    text-decoration: none;
    
} 
