*, body {
    background-color: rgb(225, 226, 230);
    color: rgb(42, 139, 224);
}

.title {
    border-radius: 20px;
    padding-top: 30px;
    font-family: 'Times New Roman', Times, serif;

}

.container {
    font-size: 16px;
    padding: 20px;
    padding-left: 25px;
    font-family: 'Courier New', Courier, monospace;

}

.container li {
    padding-top: 10px;
    text-decoration: none;
}

a {
    text-decoration: none;
    
} 

img {
    width: auto;
}

img.bacon-egg-wrap {
    height: 250px;
}

img.chicken-wrap {
    height: 300px;
}
